PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173,https://my-fuel-theta.vercel.app

DB_URL=mysql://2uyfgU2i4bRX9AY.root:3QyvC8by0z7sm88e@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/myfuel

JWT_SECRET=9f4d8a7c2b1e6f90myfueljwtsecret2026x7z3p
JWT_EXPIRES_IN=7d

EMAIL_USER=myfuel123@gmail.com
EMAIL_PASS=qifsymkbcbbmqwgg